.child{
    border: 2px solid green;
    background-color: burlywood;
    padding: 20px;
    height: 150px;
    width: 100px;
}
.parrents{
    display: flex;
    height: 700px;
    padding: 20px;
    gap: 5px;
    background-color: cadetblue;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}