#first{
    color: rgba(228, 114, 7, 0.767);
    text-align: center;
    text-decoration: underline;
}
.second{
    border: 5px solid;
    border-color: rgb(5, 44, 1);
    color: rgb(15, 88, 54);
    height: 250px;
    width: 30%;
    padding-top: 10px;
    background-color: rgb(207, 221, 226);
    box-shadow: 3px 4px 4px 4px rgb(22, 24, 23);
    border-radius: 10px;
}
#third{
    color: rgb(14, 100, 57);
}
#fourth{
    color: goldenrod;
}
.fifth{
    color: indianred;
}
#sixth{
    color: goldenrod;
}
.seventh{
    color: coral;
}
.eighth{
    color: rgb(173, 108, 9);
}
#ninth{
    color: goldenrod;
}
#tenth{
    height: 300px;
}
#elaven{
    color: goldenrod;
}
.twelve{
    color: green;
}
#thirteen{
    color: goldenrod;
}
.fourteen{
    border: 5px solid;
    border-color: chocolate;
    padding-top: 26px;
    background-color: blanchedalmond;
    color: rgb(70, 22, 28);
    background-image: url(group.jpg);
    height: 200px;
}
#fifteen{
    color: goldenrod;
}
.sixteen{
    border: 5px solid;
    color: cadetblue;
    background-color: beige;
    height: 300px;
    width: 30%;
    padding-top: 25px;
    border-radius: 10px;
    box-shadow: 4px 5px 5px 5px rgb(3, 107, 121);
}
nav > ul > li{
    display: inline;
}
nav > ul > li > a{
    text-decoration: none;
}
footer{
    text-align: center;
}
footer > p > a{
    text-decoration: none;
    color: rgb(124, 173, 9);
}
footer > p > small{
    color: rgb(9, 235, 9);
}
#kala{
    margin-top: 10px;
}


    

    
